<!-- <!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'/>
	<title>Katherine Mello</title>
	<link rel="stylesheet" type="style/css" href="/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="style/css"  href="/css/main.css">
	<script src="/angular/angular.js"></script>
	<script src="/js/app.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/js/about/about.js"></script>
    <script src="/js/about/about.html"></script>
</head>
<body>
	<div ui-view></div>
	<nav class="navbar navbar-default navbar-fixed-bottom ">
	  <div class="container">

	          <ul class="nav navbar-nav " id="myNavbar">
	            <li class="myActive"><a href="#">Home</a></li>
	            <li><a ui-sref='AboutMeState'>About Me</a></li>
	            <li><a href="#">Portfolio</a></li>
	            <li><a href="#">Resume</a></li>
	            <li><a href="#">Blog</a></li>
	          </ul>
	        </div>

	</nav>

	<!-- <main>
		<h1> Je m'appelle Katherine</h1>
		<div class='octagon'id="divAroundImage"><img id="picOfMe"src="images/pic.jpg"/></div>
	</main>	 -->

<!-- </body>
</html> -->


<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>I'm in a React app!</title>
  </head>
  <body>
    <div id="react-app"></div>

    <script src="https://cdn.jsdelivr.net/react/15.3.0/react.js"></script>
    <script src="https://cdn.jsdelivr.net/react/15.3.0/react-dom.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css"></link>
  </body>
</html>
