#home-container {
  width:20rem;
  margin:10% auto;
  color:#70A1FA;

  h2 {
    padding:1rem;
    border-radius:1rem;
    background:#e6ecf7;
  }

  img {
    border-radius:1em;
    border:#6e7f48 solid .3em;
    width:20em;
  }
}
